---
title: Holmystic Marketing
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			Get more clients
		</h2>
		<p class="subtext editable">
			We specialize in getting clients for PSYCH-K&reg; practitioners. We do our work so you can focus on doing yours.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				You can be the first
			</h3>
			<p class="editable">
				I am looking for 1-2 free trial clients, the first to contact me will get the deal. I will do the work of setting up the funnel in exchange for a testimonial. After I successfully bring you more clients, of course.
			</p>
			<p class="editable">
				<a href="/portfolio/">Contact me soon to get the deal!</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/facebook-business-manager-logo.svg" width="250" style="margin-bottom: 40px;" /></li>
				<li><img src="{{ site.baseurl }}/images/clickfunnels-logo.png" width="300" /></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">
				Latest software, greatest perfomance
			</h3>
			<p class="editable">
				As a new agency we get reap the benefits of the latest and greatest. We use the most up to date technology. This ensures we get the right information in front of the right people.
			</p>
		</div>
	</div>
</section>
